<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Solarify </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/"> <p class="navbar-brand">   Solarify India  </p> </a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="plants"><a href="/plants">SOLAR PLANTS</a></li>
          <li id="gosolar"><a href="/gosolar">GO SOLAR</a></li>
          <li id="cost"><a href="/cost">COST</a></li>
          <li id="other"><a href="/other">OTHER RENEWABLE ENERGIES</a></li>

        </ul>
    </div>
  </nav>

  <body background="images/solar.jpg">
    <div class="container">
