<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Solarify </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="images/favicon.ico">
  <nav class="navbar  navbar-default" style="background-color: lightblue";>
    <div class="container">
      <div class="navbar-header">
        <a href="/"> <p class="navbar-brand" style="background-color: azure;" >   Solarify India  </p> </a>
      </div>
        <ul class="nav  navbar-nav navbar-right"  >
          <!-- 6 -->
          <li id="home"style="background-color:#7149C6;"><a href="/">HOME</a></li>
          <li id="plants"style="background-color: #FCC8D1;"><a href="/plants">SOLAR PLANTS</a></li>
          <li id="gosolar"style="background-color:#D864A9;"><a href="/gosolar">GO SOLAR</a></li>
          <li id="cost"style="background-color: #009FBD;"><a href="/cost">COST</a></li>
          <li id="other"style="background-color: #98D8AA;"><a href="/other">OTHER RENEWABLE ENERGIES</a></li>

        </ul>
    </div>
  </nav>
  </head>

  <body>
    <div class="container">
