<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Solarify </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="images/favicon.ico">
  <nav class="navbar  navbar-default" style="background-color: aqua;" >
    <div class="container">
      <div class="navbar-header">
        <a href="/"> <p class="navbar-brand"style="background-color:#C7E9B0" >   Solarify India  </p> </a>
      </div>
        <ul class="nav  navbar-nav navbar-right"  >
          <!-- 6 -->
          <li id="home"style="background-color:#C0DBEA"><a href="/">HOME</a></li>
          <li id="plants"style="background-color:#FFDEB4;"><a href="/plants">SOLAR PLANTS</a></li>
          <li id="gosolar"style="background-color:#FEFF86;"><a href="/gosolar">GO SOLAR</a></li>
          <li id="cost"style="background-color:#DAF5FF"><a href="/cost">COST</a></li>
          <li id="other"style="background-color:#27E1C1"><a href="/other">OTHER RENEWABLE ENERGIES</a></li>

        </ul>
    </div>
  </nav>
  </head>

  <body>
    <div class="container">
